<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>ماچو پیچو</string>
		<key>city</key>
		<string>پرو</string>
		<key>imageName</key>
		<string>machu</string>
		<key>descr</key>
		<string>اینکه سفر با پای پیاده یا با قطار را به روستای آگواس کالینتس (نام دیگر شهر ماچو پیچو) انتخاب کرده باشید؛ تا زمانی که در پرو هستید باید از این شهر مربوط به دوران اینکا‌ها در قرن ۱۵، دیدن کنید. این شهر در بالاترین نقطه کوه ماچو پیچو واقع شده و ویرانه‌های مرموز و منظره فوق‌العاده دیدنی اطرافش در حافظه هر مسافری ماندگار می‌شود. دیدن منظره فوق‌العاده زیبای طلوع خورشید از این منطقه، پیشنهادی است که هرگز فراموش نخواهید کرد.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>تولوم</string>
		<key>city</key>
		<string>مکزیک</string>
		<key>imageName</key>
		<string>tulum</string>
		<key>descr</key>
		<string>زمانی که در سال ۱۹۹۹ برای نخستین بار از ویرانه‌های باستانی مایا‌ها در شبه جزیره یوکاتان مکزیک دیدن کردم، روستای تولوم، مکانی غبارآلود و دل‌گیر بود، اما امروزه شهر تولوم به یک مقصد بین المللی تبدیل شده و هنوز هم جذاب و دیدنی است. در کنار استفاده از درمان‌های آب‌گرم، چرت زدن در بانوج‌ها، شنا در دریای شفاف کارائیب و صرف ناهار در رستوران‌های مشهور، بایستی از ویرانه‌های باستانی و آخرین دژ به جای مانده از این تمدن بزرگ که زمانی بین قرن‌های ۱۳ و ۱۵ از استحکامات دفاعی و یکی از مراکز مهم تجاری بوده، دیدن کنید.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>لوآنگ پرابانگ</string>
		<key>city</key>
		<string>لائوس</string>
		<key>imageName</key>
		<string>luang</string>
		<key>descr</key>
		<string>لوآنگ پرابانگ از عجایب معماری جهان و جزو میراث جهانی یونسکو با معابد بودایی که به خوبی حفظ شده و دیگر ساختمان‌های تاریخی قابل توجه، در شمال لائوس و شبه جزیره‌ای ما بین رودخانه‌های مکونگ و نام خان واقع شده است. اکنون که صنعت گردشگری به اقتصاد جدید این کشور تبدیل شده، گالری‌ها و بوتیک‌های برجسته عرضه کننده صنایع دستی ساخته دست صنعت‌گران محلی هم در سطح شهر به چشم می‌خورد. رستوران‌های مختلفی را از رستوران‌های سنتی لائوسی تا رستوران‌های مجلل فرانسوی و رستوران‌های غذا‌های دریایی رو‌باز می‌توان در سطح شهر دید. علاوه بر این‌ها یک بازار شبانه شلوغ به همراه بازار‌های غذایی صبح و شام هم وجود دارد که توسط مردم محلی اداره می‌شوند. البته می‌توان غذا‌های ارزان قیمتی را مانند گوشت کبابی، یک نوع غذای محلی به نام khai phen که با نوعی مربا به نام jaew bong (مربای بوفالوی آبی ادویه‌دار) سرو می‌شود، امتحان کرد، که بر‌خلاف ظاهر نه چندان دل‌پسند‌شان، خوش‌طعم هستند. تماشای مراسم صبح‌گاهی و روزانه تک بت یا مراسم نیکو‌کاری راهبان بودایی ساکن لوآنگ پرابانگ را نباید از دست داد.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>برج ایفل</string>
		<key>city</key>
		<string>پاریس</string>
		<key>imageName</key>
		<string>eiffel</string>
		<key>descr</key>
		<string>در نظر هر مسافری که به پاریس سفر می‌کند، برج ایفل، یکی از شناخته شده‌ترین سازه‌های ساخت دست بشر و نماد کشور فرانسه است که هر ساله میلیون‌ها نفر از سراسر جهان از آن دیدن می‌کنند و به نوعی بازدید از این برج بخش ضروری سفر به پاریس محسوب می‌شود. در ابتدا برج ایفل برای نمایشگاه جهانی سال ۱۸۸۹ ساخته شده بود، این برج مشبک ۳۲۴ متری، بیشتر از تنها یک نشانه اختصاصی است، در واقع برج ایفل نماد فرهنگی نشئت گرفته از روح صمیمیت و یگانگی دسته جمعی عاشقانه و ظرافت و زیبایی است و هر چند ممکن است کلیشه‌ای به نظر برسد ولی هر کس در طول عمرش حداقل باید برای یک‌بار هم که شده از این برج دیدن کند.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>تاج محل</string>
		<key>city</key>
		<string>هند</string>
		<key>imageName</key>
		<string>taj</string>
		<key>descr</key>
		<string>زائران مذهبی، افراد خیال‌پرور نا‌امید، علاقمندان به باغ و معماری و گردشگرانی از هر دسته راغب به دیدن معروف‌ترین مقبره در جهان یعنی تاج محل می‌شوند. تاج محل در اواسط دهه ۱۶۰۰ میلادی و به دستور امپراطور مغول، شاه جهان برای ادای احترام به همسر مورد علاقه‌اش، ممتاز محل ساخته شد. در ساخت این بنا که ۱۲ سال به طول انجامید از سنگ مرمر سفید استفاده شده است. این بنا جزو میراث جهانی یونسکو است و هر ساله میلیون‌ها بازدید کننده را از سراسر جهان به خود جذب می‌کند. بنای تاج محل در شهر آگرا در ایالت اوتار پرادش واقع شده است، جذابیت‌های کوچک دیگری هم در این منطقه به چشم می‌خورد، اما تاج محل محترم‌ترین نمونه‌ از هنر اسلامی در جهان است. فرقی نمی‌کند با قطار، اتوبوس، هواپیما یا ماشین شخصی مسافرت می‌کنید، رسیدن به تاج محل آسان نیست، شدت گرما و ازدحام جمعیت بالاست، اما دیدن یک نماد عشق واقعی و ادای احترام عجیب، واقعا ارزش دارد.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>گرند کنیون</string>
		<key>city</key>
		<string>آریزونا</string>
		<key>imageName</key>
		<string>grand</string>
		<key>descr</key>
		<string>به عنوان یکی از متمایز‌ترین عوارض جغرافیایی زمین، غیر ممکن است روی لبه دره گرند کنیون ایستاده و زیبایی با‌شکوه و مقیاس عظیم (۲۹ کیلومتر پهنا، ۱۸۰۰ متر عمق و ۴۴۶ کیلومتر درازا) آن را درک نکرده باشید. حتی می‌توانید در پایین دره، در دامداری تاریخی فانتوم بمانید. البته باید از یک‌سال قبل آنجا را رزرو کرده باشید. این دره یکی دیگر از میراث‌های جهانی یونسکو و یکی از عجایب هفتگانه طبیعی دنیا است.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>تندیس حضرت عیسی مسیح</string>
		<key>city</key>
		<string>ریو دو‌ژانیرو</string>
		<key>imageName</key>
		<string>rio</string>
		<key>descr</key>
		<string>زمانی که از این مجسمه هنری ۳۹.۶ متری تراشیده شده از سنگ صابون و تقویت شده با بتن آرمه بازدید می‌کنید، ممکن است دیگر هیاهو و ازدحام جمعیت را احساس نکنید. از تمام نقاط شهر می‌توان تندیس را دید و برای رفتن به آنجا باید سوار قطار شده و به نزدیک‌ترین شیب عمودی کوه کورکووادو (Corcovado) واقع در پارک ملی و جنگلی Tijuca برسید. نمای دیدنی از شهر و اقیانوس اطلس بی شک برای شما جذاب خواهد بود و نوعی احساس و فضای معنوی هنگام ایستادن زیر تندیس حضرت عیسی مسیح در شما به وجود خواهد آمد.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>پارک ملی یلو ‌استون</string>
		<key>city</key>
		<string>وایومینگ</string>
		<key>imageName</key>
		<string>yellow</string>
		<key>descr</key>
		<string>حتی اگر شما اهل فعالیت‌های در طبیعت نباشید، غیر ممکن است با دیدن پارک ملی یلو‌استون و زیبایی‌هایش که در سه ایالت وایومینگ، مونتانا و آیداهو گسترش یافته، شگفت زده نشوید. با حیات وحش (شامل گوزن، گاو‌میش کوهان‌دار آمریکایی، گرگ، خرس و بز کوهی) و آبشار، آبفشان، رودخانه‌ها، جنگل‌ها و کوه‌ها، جای تعجب نیست که این شگفتی جغرافیایی با مساحت ۸۹۸۳ کیلومتر مربع به عنوان اولین پارک ملی آمریکا در سال ۱۸۷۲ شناخته شد.

تعدادی از مناطقی که بازدید از آن‌ها را در این پارک ملی، نباید از دست داد: آبفشان اُلد فیس‌فول، ماموت تراس، استخر مورنینگ گلوری و آبشار‌های ۹۳ متری. در فصل زمستان جاده‌های منتهی به پارک بسته می‌شود، اما شما می‌توانید بدون نگرانی از بابت ازدحام جمعیتی که در فصل تابستان وجود دارد، با برف‌رو و اسکی نوردیک یا کفش اسکی از تفریحات زمستانی در پارک ملی یلو‌استون لذت ببرید. در ایام پیک سال، تعداد ۱۲ اردوگاه، اقامت‌گاه‌ها و امکانات و تسهیلات رفاهی در نزدیکی شهر‌های کودی، بیگ اسکای، جکسون، گارد‌نر، سیلور گیت و همچنین خانه‌های فصلی در داخل پارک وجود دارند (البته توجه داشته باشید که اغلب این خانه‌ها از یک‌سال قبل رزرو می‌شوند). زیبایی‌های این منطقه به مانند یک تابلوی نقاشی از شگفتی‌های طبیعت است.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>پل گلدن گیت</string>
		<key>city</key>
		<string>سانفرانسیسکو</string>
		<key>imageName</key>
		<string>golden</string>
		<key>descr</key>
		<string>بی شک پل معلق و نارنجی رنگ مشهور سانفرانسیسکو، یکی از خیره‌کننده‌ترین دستاورد‌های معماری بشری در قرن بیستم است. ساخت این پل چهار سال به طول انجامید و در سال ۱۹۳۷ باز‌گشایی شد. پل گلدن گیت، بزرگ‌راه ۱۰۱ و بزرگ‌راه پاسیفیک کُست (با نام دیگر بزرگ‌راه ۱ یا کالیفرنیا استیت روت ۱) را به هم متصل می‌کند. این پل توسط انجمن مهندسان عمران آمریکا به عنوان یکی از عجایب هفتگانه دنیای مدرن نامگذاری شده است و تا زمانی که محبوب‌ترین نماد شهر را نبینید از زیبایی‌های منطقه خلیج لذت نخواهید برد.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>انگکور وات</string>
		<key>city</key>
		<string>کامبوج</string>
		<key>imageName</key>
		<string>wat</string>
		<key>descr</key>
		<string>انگکور وات مجموعه‌ای از معابد است که قدمت آن به قرن ۱۲ باز می‌گردد و یکی از آثار باستانی و مذهبی مورد احترام در جنوب شرقی آسیا و جزو میراث جهانی یونسکو است. داخل معابد را می‌توان با موتور سیکلت دید، ورودیه بازدید از این مجموعه تاریخی و مذهبی ۲۰ دلار است، ۱۵ دلار هم هزینه کرایه گشت داخل مجموعه معابد با موتور سیکلت برای نصف روز است. انگکور وات نماد برتر معماری خمر کامبوج و از اهمیت فرهنگی برخوردار است. حتی اگر بازدید از مکان‌های تاریخی در برنامه سفر شما نباشد، بایستی از این معابد بازدید کنید. دیدن جزئیات حجاری و کاشی‌کاری شده، ریشه‌های پر پیچ و خم درخت انجیر هندی، راهبان و راهبه‌های ملبس به ردا‌های زعفرانی رنگ که در سکوت و به آرامی در سراسر معابد راه می‌روند، احساس بوی بخور خوشبو و فضای خلوت و آرام، تجربه‌ای فراموش نشدنی است.</string>
	</dict>
</array>
</plist>
